/* Start of the Body tag CSS */

body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

/* End of the Body tag CSS */

/* Start of the principal tags general CSS */

header, main, footer{
    flex-shrink: 0;
}

/* End of the principal tags general CSS */

/* Start of the Navbar CSS */

header > nav.navbar{
    background: blue;
    min-height: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    justify-content: space-between;
}

nav.navbar > section.navbar-brand {
    display: none;
}

nav.navbar > section.navbar-links {
    display: none;
}

nav.navbar > section.navbar-form {
    display: none;
}

/* End of the Navbar CSS */

/* Start of the Main tag CSS */

main{
    flex-grow: 1;
}

/* End of the Main tag CSS */

/* Start of the Container CSS */

main.container{
    width: calc(100vw - 20px);
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
}

.container > .container__row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    padding: 4px;
}

.container__row > .row__flex-col{
    margin: 0 2.5px;
}

.container__row > .row__flex-col-12{
    width: calc(100% - 4px);
}

.container__row > .row__flex-col-11{
    width: calc((100% / 12) * 11 - 4px);
}

.container__row > .row__flex-col-10{
    width: calc((100% / 12) * 10 - 4px);
}

.container__row > .row__flex-col-9{
    width: calc((100% / 12) * 9 - 4px);
}

.container__row > .row__flex-col-8{
    width: calc((100% / 12) * 8 - 4px);
}

.container__row > .row__flex-col-7{
    width: calc((100% / 12) * 7 - 4px);
}

.container__row > .row__flex-col-6{
    width: calc((100% / 12) * 6 - 4px);
}

.container__row > .row__flex-col-5{
    width: calc((100% / 12) * 5 - 4px);
}

.container__row > .row__flex-col-4{
    width: calc((100% / 12) * 4 - 4px);
}

.container__row > .row__flex-col-3{
    width: calc((100% / 12) * 3 - 4px);
}

.container__row > .row__flex-col-2{
    width: calc((100% / 12) * 2 - 4px);
}

.container__row > .row__flex-col-1{
    width: calc((100% / 12) - 4px);
}

.container__row--ha-center{
    justify-content: center;
}

.row__flex-col--va-center{
    align-self: center;
}

.row__flex-col--va-start{
    align-self: start;
}

/* End of the Container CSS */

/* Start of the Footer CSS */

footer.footer{
    display: flex;
    flex-direction: row;
    height: 4rem;
    background-color: aquamarine;
}

/* End of the Footer CSS */

/* Start of the Form CSS */

form.form{
    width: 100%;
    padding: 8px;
    display: flex;
    flex-grow: 1;
}


.form--in-line{
    flex-wrap: wrap;
    flex-direction: row;
}

.form--block{
    flex-direction: column;
}

.form > .form__input-group{
    margin: 10px 0px 10px 0px;
}

.form__input-group > input{
    display: block;
}

.form__input-group > label{
    display:block;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
}

.form-input{
    height: 32px;
    padding: 4px;
}

.form-input--basic{
    border-radius: 4px;
    border-width: 0.5px;
    border-color: darkgray;
}

/* End of the Form CSS */

/* Start of the Margins CSS */

.m-top-1{
    margin-top: 10px;
}

.m-top-2{
    margin-top: 20px;
}

.m-top-3{
    margin-top: 30px;
}

.m-top-4{
    margin-top: 40px;
}

.m-top-5{
    margin-top: 50px;
}

/* End of the Margins CSS */