/* Start of the Navbar CSS */

nav.navbar > section.navbar-brand {
    flex-grow: 0.45;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav.navbar > section.navbar-links {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav.navbar > section.navbar-form {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* End of the Navbar CSS */

/* Start of the Container CSS */

main.container{
    width: calc(100vw - 25%);
}

.container__row > .row__flex-col-12--lg{
    width: calc(100% - 4px);
}

.container__row > .row__flex-col-11--lg{
    width: calc((100% / 12) * 11 - 4px);
}

.container__row > .row__flex-col-10--lg{
    width: calc((100% / 12) * 10 - 4px);
}

.container__row > .row__flex-col-9--lg{
    width: calc((100% / 12) * 9 - 4px);
}

.container__row > .row__flex-col-8--lg{
    width: calc((100% / 12) * 8 - 4px);
}

.container__row > .row__flex-col-7--lg{
    width: calc((100% / 12) * 7 - 4px);
}

.container__row > .row__flex-col-6--lg{
    width: calc((100% / 12) * 6 - 4px);
}

.container__row > .row__flex-col-5--lg{
    width: calc((100% / 12) * 5 - 4px);
}

.container__row > .row__flex-col-4--lg{
    width: calc((100% / 12) * 4 - 4px);
}

.container__row > .row__flex-col-3--lg{
    width: calc((100% / 12) * 3 - 4px);
}

.container__row > .row__flex-col-2--lg{
    width: calc((100% / 12) * 2 - 4px);
}

.container__row > .row__flex-col-1--lg{
    width: calc((100% / 12) - 4px);
}

/* End of the Container CSS */