body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

header, main, footer{
    flex-shrink: 0;
}

header > nav.navbar{
    background: blue;
    height: 4rem;
}

main{
    flex-grow: 1;
}

footer.footer{
    display: flex;
    flex-direction: row;
    height: 4rem;
    background-color: aquamarine;
}

main.container{
    width: calc(100vw - 20px);
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
}

.container > .container__row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    padding: 5px;
}

.container > .container__row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    padding: 5px;
}

.container__row > .row__flex-col{
    margin: 0 2.5px;
}

.container__row > .row__flex-col-12{
    width: calc(100% - 5px);
}

.container__row > .row__flex-col-11{
    width: calc((100% / 12) * 11 - 5px);
}

.container__row > .row__flex-col-10{
    width: calc((100% / 12) * 10 - 5px);
}

.container__row > .row__flex-col-9{
    width: calc((100% / 12) * 9 - 5px);
}

.container__row > .row__flex-col-8{
    width: calc((100% / 12) * 8 - 5px);
}

.container__row > .row__flex-col-7{
    width: calc((100% / 12) * 7 - 5px);
}

.container__row > .row__flex-col-6{
    width: calc((100% / 12) * 6 - 5px);
}

.container__row > .row__flex-col-5{
    width: calc((100% / 12) * 5 - 5px);
}

.container__row > .row__flex-col-4{
    width: calc((100% / 12) * 4 - 5px);
}

.container__row > .row__flex-col-3{
    width: calc((100% / 12) * 3 - 5px);
}

.container__row > .row__flex-col-2{
    width: calc((100% / 12) * 2 - 5px);
}

.container__row > .row__flex-col-1{
    width: calc((100% / 12) - 5px);
}